<!DOCTYPE html>
	
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">
	
	<!-- The f:view element is required to get certain components to work with webkit based browsers
	(Google Chrome and Safari) -->
	<f:view contentType="text/html">
	
	<h:head>
		<!-- Add support for <meta>, <link>, and <scripts> here -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<!-- Change the title of this document!!! -->
		<title>Zodiac</title>
		
	</h:head>
	
	<h:body>
		<!-- Add your content here -->
		<h2>Chinese Zodiac</h2>
		<h:form id="bmiForm">
      	 <p:messages id="messages"></p:messages> 
      	 <p:growl id="growl"></p:growl>
      	 <h:panelGrid columns="2">
           <h:outputLabel for="weight" value="Your Weight(in pounds): "></h:outputLabel>
           <p:inputText value="#{bmiBean.bmi.weight}" id="weight" required="true" requiredMessage="Please enter your weight."></p:inputText>
           <h:outputLabel for="sendBtn"></h:outputLabel>
           <p:commandButton ajax="true" update="messages,growl,year" id="sendBtn" value="Send Message" actionListener="#{bmiBean.calculateBMI}" ></p:commandButton>
      	 </h:panelGrid>
    </h:form>
		
		
		<!-- End of content area -->
	</h:body>
	
	</f:view>
	
	</html>