<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui">

<!-- The f:view element is required to get certain components to work with webkit based browsers
(Google Chrome and Safari) -->
<f:view contentType="text/html">

	<h:head>
	    <!-- Change the title of this document!!! -->
		<title>Contact Us!</title>
		<!-- Add support for <meta>, <link>, and <scripts> here -->	
	</h:head>
	<h:body>
	<!-- Add your content here -->
	<h2>Contact Us!</h2>
	<p>
	   For more information submit your contact info.
	</p>
	<h:form id="contactForm">
	   <p:messages id="messages"></p:messages> 
	   <p:growl id="growl"></p:growl>
	   <h:panelGrid columns="2">
	       <h:outputLabel for="name" value="Your Name: "></h:outputLabel>
	       <p:inputText value="#{contactUsBean.name}" id="name" required="true" requiredMessage="Please enter your name."></p:inputText>
	       <h:outputLabel for="email" value="Your Email: "></h:outputLabel>
	       <p:inputText value="#{contactUsBean.email}" id="email" required="true" requiredMessage="Please enter your email address."></p:inputText>
	       <h:outputLabel for="message" value="Message: "></h:outputLabel>
	       <p:editor id="message" value="#{contactUsBean.message}" required="true" requiredMessage="Please enter a message."></p:editor>
	       <h:outputLabel for="sendBtn"></h:outputLabel>
	       <p:commandButton ajax="true" update="messages,growl,name,email,message" id="sendBtn" value="Send Message" actionListener="#{contactUsBean.sendMessage}" ></p:commandButton>
	   </h:panelGrid>
	</h:form>
	
	<!-- End of content area -->
	</h:body>

</f:view>

</html>