<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pm="http://primefaces.org/mobile"
        contentType="text/html"
    renderKitId="PRIMEFACES_MOBILE">

    <pm:page title="Calculate BMI">



<!-- Main View -->
        <pm:view id="main">
            <pm:header title="Calculate BMI">
            </pm:header>

            <pm:content>
            	<h:form>
					<p:messages id="messages" />
					
					<p:inputText id="weight" label="Weight:" 
		     			value="#{bmiBean.bmi.weight}"
		     			required="true"
		     			requiredMessage="Weight is required.">
		     		</p:inputText>					
						
					<p:inputText id="height" label="Height:" 
		     			value="#{bmiBean.bmi.height}"
		     			required="true"
		     			requiredMessage="Height is required.">
		     		</p:inputText>	
											
					<p:commandButton value="Calculate" actionListener="#{bmiBean.calculateBMI}" update="messages" />
				
				</h:form>
            </pm:content>
        </pm:view>

    </pm:page>


</f:view>

