<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
 
<!-- The f:view element is required to get certain components to work with webkit based browsers
(Google Chrome and Safari) -->
<f:view contentType="text/html">
 
<h:head>
    <!-- Add support for <meta>, <link>, and <scripts> here -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <!-- Change the title of this document!!! -->
    <title>Course Form</title>
     
</h:head>
 
<h:body>
    <!-- Add your content here -->
    <h1>Save</h1> 
    <p:panel header="Course">
    	<h:form id="courseForm">
    		<p:messages id="messages" />
    		<h:panelGrid columns="2">
    			<p:outputLabel for="studentId">Student ID:</p:outputLabel>
    			<p:inputText id="studentId" value="#{studentBean.currentStudent.studentId}">
    			</p:inputText>
    			
    			<p:outputLabel for="firstName">First Name:</p:outputLabel>
    			<p:inputText id="firstName" value="#{studentBean.currentStudent.firstName}">
    			</p:inputText>
    			
    			<p:outputLabel for="lastName">Last Name:</p:outputLabel>
    			<p:inputText id="lastName" value="#{studentBean.currentStudent.lastName}">
    			</p:inputText>
    			
    			<p:outputLabel for="password">Password:</p:outputLabel>
    			<p:inputText id="password" value="#{studentBean.currentStudent.password}">
    			</p:inputText>
    			
    			<p:outputLabel for="email">Email:</p:outputLabel>
    			<p:inputText id="email" value="#{studentBean.currentStudent.emailAddress}">
    			</p:inputText>
    			
<!--     			<p:outputLabel for="bdate">Birthdate (YYYY-MM-DD):</p:outputLabel> -->
<!--     			<p:inputText id="bdate" value="#{studentBean.currentStudent.emailAddress}"> -->
<!--     			</p:inputText> -->
				<p:calendar id="birthdate" showOn="button" value="#{studentBean.currentStudent.birthDate}"></p:calendar>
    			
    			<h:outputText />
    			<p:commandButton value="Save" ajax="false" actionListener="#{studentBean.saveStudent}">
    			</p:commandButton>
    			
    		</h:panelGrid>
    	</h:form>
    </p:panel>   
     
    <!-- End of content area -->
</h:body>
 
</f:view>
 
</html>